@tailwind base;
@tailwind components;
@tailwind utilities;



.dark .ant-input,
.dark .ant-input-search,
.dark .ant-input-affix-wrapper {
  background-color: #2a2d3b !important;
  color: #dbeafe !important;
  border-color: #272c3b !important;
}

.dark .ant-input::placeholder {
  color: #8c9bab !important;
}

.dark .ant-table-tbody>tr.bg-red-600>td {
  background-color: #831818 !important;
  color: #fff !important;
}

.ant-table-tbody>tr.bg-red-600>td {
  background-color: #dc2626 !important;
  color: #fff !important;
}

/* Tabla mantenimientos */
.dark .ant-table,
.dark .ant-table-container,
.dark .ant-table-content,
.dark .ant-table-cell,
.dark .ant-table-thead>tr>th,
.dark .ant-table-tbody>tr>td {
  background-color: #18212f !important;
  color: #dbeafe !important;
}

.dark .ant-table-thead>tr>th {
  background-color: #111827 !important;
  color: #dbeafe !important;
}

.dark .ant-modal-content {
  background-color: #18181b !important;
  color: #fff !important;
}

.dark .ant-modal-confirm-title,
.dark .ant-modal-confirm-content {
  color: #dbeafe !important;
}

body.dark .ant-btn-default {
  background-color: transparent !important;
  color: #d1d5db !important;
  border-color: #52525b !important;
}

body.dark .ant-btn-primary {
  background-color: transparent !important;
  color: #ef4444 !important;
  border-color: #ef4444 !important;
}

body.dark .anticon-exclamation-circle {
  color: #fbbf24 !important;
}

/* Popover */

.dark .ant-popover-inner {
  background-color: #18212f !important;
  color: #dbeafe !important;
}

.dark .ant-popover-inner-content {
  color: #dbeafe !important;
}

.dark .ant-popover-arrow {
  background: #18212f00 !important;
}